* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }

  .audio_buttons{
      width: 100%;
      height: 4em;
      
      border-bottom: 1px solid rgb(80, 174, 196); 
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  }

  .audio_buttons .button-box button{
    background-color: #458286;
    border: 2px solid white;
    color: white;   
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 6em;
    height: 3em;;
    margin: 4px 1px;
    cursor: pointer;
    font-family: "Helvetica";
    font-size: 14px;
    opacity: .9;
    border-radius: 10px;
 
  }
  .audio_buttons button:hover {
    background-color: #136A6F;
    box-shadow: 0 10px 10px 0 rgba(1, 16, 20, 0.664), 0 6px 20px 0 rgba(0,0,0,0.19);

}

.audio_buttons button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.audio_buttons .button-box p{
  font-size: 25px;
  text-decoration: none;
  color:white;
  border-bottom: 1px solid rgb(80, 174, 196);   
  padding: 1em;
  font-family: "Helvetica";
}

.time-music{
  width: 50%;
  
  overflow-y: auto;
  
}

.time-music .time_measure{
  height: 4.3em;
  font-family: "Helvetica";
  font-size: 14px;
  color:white;
  text-decoration: none;
  color:white;
  border-bottom: 1px solid rgb(80, 174, 196); 
  margin: 4px 2px;
  padding: 1em;
}